/* CSS Document */

.sky{
	position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective-origin: left;
    perspective: 800px;
    transform-style: preserve-3d;
}
.stars{
    position: absolute;
    width: 200px;
    height: 3px;
    border-radius: 3px;
    /* background-color: #fff; */
    background-image: linear-gradient(to right, var(--color),#fff, #ffffff50,transparent);
    animation: down 1s linear infinite both;
    animation-delay: calc(var(--d) * 0.3s);
}
.stars::before,
.stars::after{
    position: absolute;
    content: "";
    width: inherit;
    height: inherit;
    background-image: inherit;

}
.stars::before{
    filter: blur(5px);
}
.stars::after{
    filter: blur(10px);
}
@keyframes down{
    0%{
        transform: translateY(calc(var(--z) * 58px))
        translateZ(calc(var(--z) * 100px))
        rotate(-45deg)
        translateX(calc(var(--x) * 100px))
        ;
    }
    100%{
        transform: translateY(calc(var(--z) * 58px))
        translateZ(calc(var(--z) * 100px))
        rotate(-45deg)
        translateX(calc(var(--x) * -100px))
        ;
    }
}